---
import * as mainConfig from "@/config/main";
import ContainerSection from "@/sections/container-section.astro";
import { twMerge } from "tailwind-merge";
// const pageConfig = mainConfig.pages.byName.index;

const pageConfig = mainConfig.pagesByName["index"];

const buttonButtonData = pageConfig.landingHero.buttons.find(
  (button) => button.name === "button"
)!;
const buttonConnectOnLinkedInData = pageConfig.landingHero.buttons.find(
  (button) => button.name === "connectOnLinkedin"
)!;
---

<section
  class="col-[fullbleed] grid grid-cols-subgrid bg-[url(/IMG_2304-1.JPEG)] bg-fixed bg-no-repeat bg-cover bg-[center_20%]"
>
  <div class="grid col-[content] bg-zinc-800/40 grid-cols-6 grid-rows-6">
    <div
      class="col-start-2 col-span-4 row-start-2 row-span-4 bg-zinc-200/40 backdrop-brightness-120 backdrop-filter backdrop-blur-lg p-12 gap-4 grid rounded-[0.5rem] shadow-md"
    >
      <div class="grid grid-cols-4 gap-y-4 [text-shadow:_0px_0px_0.1rem_#1d293d]">
        <!-- Title & description -->
        <h1 class="font-extrabold text-6xl col-span-4">
          Processing & Automation
          <br />
          Consultancy Solutions
        </h1>
        <div class="flex flex-col col-start-1 col-span-2 py-4 gap-4 text-xl">
          <p>
            PACS is a provider of blending and manufacturing plant designs,
            equipment and turnkey projects for oil and gas companies around the
            world.
          </p>
          <p>
            PACS provides consulting services and industrial innovative
            engineering solutions.
          </p>
        </div>
      </div>
      <div class="flex gap-x-4 text-xl">
        <!-- Two buttons -->
        <a
          href={buttonButtonData.href}
          class="min-w-fit h-fit px-4 py-2 ring-2 rounded-full bg-zinc-900 text-white ring-transparent hover:ring-white focus:ring-white"
        >
          {buttonButtonData.value}
        </a>
        <a
          href={buttonConnectOnLinkedInData.href}
          class="min-w-fit h-fit px-4 py-2 ring-2 rounded-full bg-blue-500 text-white ring-transparent hover:ring-white focus:ring-white"
        >
          {buttonConnectOnLinkedInData.value}
        </a>
      </div>
    </div>
  </div>
</section>
