@import "tailwindcss";

@theme {
  --font-atkinson: 'Atkinson Hyperlegible Next', 'sans-serif';/* , 'Inter', 'sans-serif'; */
  --font-lato: 'Lato', 'sans-serif';
  --font-gentium: 'Gentium Book Plus', 'serif';
}

:root {
  --content-width: 100%;
}
@media (width >= 40rem /* 640px */) {
  :root {
    --content-width: 40rem /* 640px */;
  }
}
@media (width >= 48rem /* 768px */) {
  :root {
    --content-width: 48rem /* 768px */;
  }
}
@media (width >= 64rem /* 1024px */) {
  :root {
    --content-width: 64rem /* 1024px */;
  }
}
@media (width >= 80rem /* 1280px */) {
  :root {
    --content-width: 80rem /* 1280px */;
  }
}
@media (width >= 96rem /* 1536px */) {
  :root {
    --content-width: 96rem /* 1536px */;
  }
}
body {
  position: relative;
  display: grid;
  grid-template-rows:
    [header-start] auto
    [header-end main-start] auto
    [main-end footer-start] auto
    [footer-end];
  --gap: calc((100% - var(--content-width)) / 2);
  grid-template-columns:
    [fullbleed-start leftbleed-start left-gap-start] 1fr
    [left-gap-end content-start left-content-start]
    /* calc(var(--content-width) / 2) */
    repeat(6, calc(var(--content-width) / 12))
    [left-content-end leftbleed-end rightbleed-start right-content-start]
    /* calc(var(--content-width) / 2) */
    repeat(6, calc(var(--content-width) / 12))
    [right-content-end content-end right-gap-start] 1fr
    [right-gap-end rightbleed-end fullbleed-end];
  /* background-color: #babdbb; */
}

body > header {
  z-index: 20;
  grid-row: header;
  grid-column: fullbleed;
  position: relative;
  /* position: sticky;
  top: 0; */

  display: grid;
  /* display: flex;
  flex-direction: column; */
  /* grid-column-start: header-start; */
  /* grid-column-end: header-end; */
  /* grid-row-start: content-start; */
  /* grid-row-end: content-end; */
  /* grid-row: content; */
  grid-template-rows:
    [banner-start] auto
    [banner-end nav-start] auto
    [nav-end];
  grid-template-columns: subgrid;
  z-index: 100;
  /* border-radius: 0.5rem; */
  background-color: transparent;
  /* position: sticky; */
}
/* body > header:nth-child(0) {
  grid-row: banner;
  grid-column: fullbleed-start / fullbleed-end;
} */
/* body > header:nth-child(1) {
  grid-row: nav;
  grid-column-start: content-start;
  grid-column-end: content-end;
} */


body > footer {
  grid-column: fullbleed;
  grid-row: footer;
  /* display: grid; */
  /* grid-templates-columns: ; */
}

/* body {
  display: grid;
  grid-template-rows:
    [header-start] 2em
    [header-end main-start] auto
    [main-end footer-start] auto
    [footer-end];
  --gap: calc((100% - var(--content-width))/2);
  grid-template-columns:
    [fullbleed-start left-gap-start] var(--gap) [left-gap-end content-start] var(--content-width)
    [content-end right-gap-start] var(--gap) [right-gap-end fullbleed-end];
}
body > header {
  display: grid;
  grid-column: header;
  grid-row: content;
  grid-template-rows:
    [banner-start] auto
    [banner-end nav-start] auto
    [nav-end];
  grid-template-columns: subgrid;
}
body > main {
  display: grid;
  grid-column: main;
  grid-row: fullbleed;
  grid-template-rows:
    [hero-start] auto
    [hero-end about-cards-start] auto
    [about-cards-end services-start] auto
    [services-end mission-start] auto
    [mission-end];
  grid-template-columns: subgrid;
}
body > footer {
  display: grid;
  grid-column: footer;
  grid-row: content;
  /* grid-templates-columns: ; 
} */
