---
import * as mainConfig from "@/config/main";
import HeroLanding from "@/sections/hero-landing.astro";
import Layout from "@/layouts/layout.astro";
import CardsSection from "@/sections/cards-section.astro";
import HalfAndHalfSection from "@/sections/half-and-half-section.astro";
import Footer from "@/components/layout/footer.astro";
import Header, { toAllUpperCase } from "@/components/layout/header.astro";
import { Icon } from "astro-icon/components";
import PeopleSection from "@/sections/people-section.astro";
import ArticleBannerCard from "@/components/article-banner-card.astro";
import ArticlesSection from "@/sections/articles-section.astro";
import HardWorkBanner from "@/sections/hard-work-banner.astro";
import CardStack from "@/components/card-stack.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const pageConfig = mainConfig.pagesByName["about"];
---

<Layout>
  <Header />

  <main class="gap-y-26">
    <HeroLanding name={pageConfig.name} href={pageConfig.href} />

    <section class="col-[content] flex justify-center">
      <div class="w-[80%] grid grid-cols-[1fr_2fr] gap-x-18">
        <CardStack />
        <div class="flex flex-col gap-8 font-gentium tracking-wide">
          <h3 class="font-bold text-4xl text-center">Our Story</h3>
          <div class="text-lg text-justify columns-2 gap-8">
            <p class="pb-2">
              Quod, dolorem rerum sunt consequuntur fugiat in libero eveniet?
              Velit, doloremque iure. Architecto ipsam sunt neque.
            </p>
            <p class="py-4">
              Rem incidunt corrupti dolore ad animi. Quod, dolorem rerum sunt
              consequuntur fugiat in libero eveniet? Velit, doloremque iure.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem,
              ipsum dolor sit amet consectetur adipisicing elit. Architecto
              ipsam sunt neque, rem incidunt corrupti dolore ad animi.
              Architecto ipsam sunt neque, rem incidunt corrupti dolore ad
              animi. Quod, dolorem rerum sunt consequuntur fugiat in libero
              eveniet? Velit, doloremque iure. Lorem, ipsum dolor sit amet
              consectetur adipisicing elit.
            </p>
            <p class="pt-2">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Architecto ipsam sunt neque, rem incidunt corrupti dolore ad
              animi. Quod, dolorem rerum sunt consequuntur fugiat in libero
              eveniet? Velit, doloremque iure.
            </p>
          </div>
          <p class="text-lg text-right pt-8 pr-8">
            &mdash; Pablo Garce, President
          </p>
        </div>
      </div>
    </section>

    <HardWorkBanner />

    <PeopleSection title="Join the pack!" people={pageConfig.people} />

    <ArticlesSection />
  </main>

  <Footer class="bg-zinc-900 text-white py-36" />
</Layout>

<style>
  body > main {
    z-index: 10;
    display: grid;
    grid-row: main;
    grid-column: fullbleed;
    /* grid-template-rows:
      [hero-start] auto
      [hero-end story-start] auto
      [story-end stats-start] auto
      [stats-end team-start] auto
      [team-end articles-start] auto
      [articles-end]; */
    grid-template-columns: subgrid;
  }
</style>
