---
const data = [
  {
    imageSource: "IMG_2172.JPEG",
    angle: "-rotate-z-4",
    zImage: "z-0",
    zBackdrop: "z-[1]",
  },
  {
    imageSource: "IMG_2165.JPEG",
    angle: "-rotate-z-7",
    zImage: "z-[2]",
    zBackdrop: "z-[3]",
  },
  {
    imageSource: "IMG_2177.JPEG",
    angle: "-rotate-z-0",
    zImage: "z-[4]",
    zBackdrop: "z-[5]",
  },
];
---

<div
  class="w-full grid rotate-x-6 *:row-start-1 *:col-start-1 *:w-full *:row-span-1 *:col-span-1 *:rounded-xl"
>
  {
    data.map((card) => (
      <>
        <img
          alt=""
          class:list={[
            "overflow-clip object-cover shadow-md",
            card.angle,
            card.zImage,
          ]}
          src={card.imageSource}
        />
        <div
          class:list={[
            "bg-linear-to-t from-zinc-800/70 from-0% via-zinc-600/30 via-10% to-zinc-200/10 to-100%",
            "backdrop-sepia-[5%] backdrop-grayscale-75 backdrop-saturate-[20%] ring-zinc-800/40 ring-1",
            "hover:backdrop-sepia-0 hover:backdrop-grayscale-0 hover:backdrop-saturate-100 hover:ring-zinc-800/70",
            card.angle,
            card.zBackdrop,
          ]}
        />
      </>
    ))
  }
</div>
